<tr>
  <td><%= simple_format (post.content) %></td>
  <td><%= post.group.title %></td>
  <td><%= post.updated_at.to_s(:long) %></td>
  <td>
    <%= link_to("Edit", edit_group_post_path(post.group, post), class: "btn btn-sm btn-default" ) %>
  </td>
  <td>
    <%= link_to("Delete", group_post_path(post.group, post), method: :delete, class: "btn btn-sm btn-default" ) %>

  </td>
</tr>
