<div class="container-fluid">
  <div class="group">

    <span class="pull-right">
      <% if current_user && current_user.is_member_of?(@group) %>
      <label class="label label-success">群组成员 </label>
      <%= link_to("Quit Group", quit_group_path(@group), method: :post, class: "btn btn-default") %>
      <% else %>
      <label class="label label-warning">不是群组成员</label>
      <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-default") %>
      <% end %>
    </span>

    <%= link_to("Write a Post", new_group_post_path(@group), class: "btn btn-default pull-right") %>

    <% if @group.user == current_user %>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>

  <!-- <div class="row">
    <div class="col-md-8 col-md-offset-2"> -->

      <h2><%= @group.title %></h2>
      <p><%= @group.description %></p>

      <table class="table">
        <thead>
          <tr>
            <th width="60%">文章内容</th>
            <th>发表者</th>
            <th>发表时间</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => "post_item", :collection => @posts, :as => :post %>

        </tbody>
      </table>

      <div class="digg_pagination" id="group_show_pagination">
        <%= will_paginate @posts, :page_links => false, :container => false %>
      </div>

    <!-- </div>
  </div> -->
</div>
